body{
    margin:0px;
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(172, 169, 169, 0.150);
}
.logo-inicio{
    padding:5px;
    width:10%;
}
.navegacion{
    position: fixed;
    z-index: 10;
    width:100%
}
.fondo{
    width: 100%;
}
.cuadro-fondo{
    top:0px;
}
.texto-fondo{
    color:black;
    margin-top:10%;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.cuerpo-fondo{
    color: white;

}

.boton-fondo button{
    border-radius: 6%;
    padding: 20px;
    background-color: white;
    border-width: 1px;
    border-color: rgba(172, 169, 169, 1);
    margin:30px;
    color: black;
}

.boton-fondo button:hover{
    background-color:rgba(172, 169, 169, 0.719);
    border-color:black;
}
.modulos{
    padding: 4%;
    position: static;
    background-image: url("/images/modulo.png");
    background-position: center;
    background-repeat: repeat;
}
.formulario{
    margin-bottom: 10%;
}
.boton-formulario{
    border-radius: 50px;
    padding: 20px;
    background-color: white;
    border-width: 1px;
    border-color: rgba(172, 169, 169, 1);
    margin:30px;
    color: black;
}
.boton-formulario:hover{
    background-color:rgba(172, 169, 169, 0.719);
    border-color:black;
}
.main{
    box-decoration-break: clone;
    box-shadow:5px 5px 5px 5px rgba(172, 169, 169, 0.404);
    margin-left: auto;
    margin-right: auto;
    width: 100em;
}
.contenido-total{
    margin-top: -5%;
    position: relative;
}
.contacto{
    padding: 4%;
    position: static;
    background-image: url("/images/contacto.png");
    background-position: center;
    background-repeat: repeat;
}
.tarjeta{
    border-radius: 7%;
    background-color: white;
    box-shadow:10px 10px 10px 10px rgba(172, 169, 169, 0.719);
}
.imagen-tarjeta{
    opacity: 0.3;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.texto-tarjeta{
    color:white;
    font-size: 2rem;
}
button a{
    color: black;
}
a:hover{
    color:black;
    text-decoration: none;
}
.cualidad{
    padding: 4%;
    background-color: white;
    /*background-image: url("/images/cualidad.png");
    background-position: center;
    background-repeat: repeat;*/

}
.tarjeta-cualidad
{
    padding: 3em;
}

.icono-cualidad{
    padding: 10%;
    width: fit-content;
    border-radius: 100%;
    background-color: rgba(223, 137, 25, 0.719);
}
.texto-cualidad{
    margin-top: 3%;
}
.cuerpo
{
    color: black;
}
.abajo{
    box-shadow: 0px 10px 0px 0px rgba(172, 169, 169, 0.459);
}
.arriba{
    box-shadow: 0px 0px 10px 0px rgba(172, 169, 169, 0.459);
}
.derecha{
    box-shadow: 5px 0px 0px 0px rgba(172, 169, 169, 0.459);
}


@media(max-width: 600px)
{
    .cuerpo-fondo{
        font-size: 0.5em;
    }
    .titulo-fondo{
        font-size: 0.5em;
    }
    .boton-fondo button{
        font-size: 0.4em;
        margin: 5px;
        padding: 2px;
    }
    .main{
        width:100%
    }
    .titulos-contenido{
        font-size: 1em;
    }
    
}
@media  (max-width: 1100px) and (min-width: 601px)
{
    .cuerpo-fondo{
        font-size: 1em;
    }
    .titulo-fondo{
        font-size: 1em;
    }
    .boton-fondo button{
        font-size: 1em;
    }

    .main{
        width:100%
    }
    .titulos-contenido{
        font-size: 5em;
    }
    .tarjeta{
        overflow: scroll;
    }
}